.signin-page {
    /*background-image: url("https://unsplash.it/1600/1000/?random");*/
    background-image: url("/images/huggies2_1_.jpg");
    background-color: #ffffff;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.signin-title {
  font-size: 250%;
  color: #DA291C;
  margin-top: 75%;
}

.thumbnail img {
  max-height: 100px
}

.thumbnail-small {
  max-height: 40px
}

.thumbnail .description {
  -webkit-column-rule: #7f7f7f;
  -ms-column-rule: #7f7f7f;
  -moz-column-rule: #7f7f7f;
  -o-column-rule: #7f7f7f;
  column-rule: #7f7f7f;
}

.badge, .btn-success, .btn-primary {
  font-weight: normal;
  font-size: 14px;
  background-color: #DA291C;
  border-color: white
}

.container-fluid {
  background-color: white;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
    font-size: 120%;
}

.logo {
  max-height: 155px;
}

.glyphicon {
    font-size: 18px;
}
